{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {%if user.is_authenticated%}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                </li>
                {%else%}
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {%endif%}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </thead>
            <tbody>
                {% for x in receipts %}
                <tr>
                    <td>{{x.vendor}}</td>
                    <td>{{x.total}}</td>
                    <td>{{x.tax}}</td>
                    <td>{{x.date|date:'m/d/y'}}</td>
                    <td>{{x.category}}</td>
                    <td>{{x.account}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </main>
</body>

</html>
