{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
</head>

<body>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </thead>
            <tbody>
                {% for x in receipts %}
                <tr>
                    <td>{{x.vendor}}</td>
                    <td>{{x.total}}</td>
                    <td>{{x.tax}}</td>
                    <td>{{x.date|date:'m/d/y'}}</td>
                    <td>{{x.category}}</td>
                    <td>{{x.account}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </main>
</body>

</html>
